{% extends model('component') %}

{% define config = {
    name: 'logo',
    renderAttributes: false
} %}

{% define data = {
    url: path('home')
} %}

{% define attributes = {
    src: null,
    alt: 'Logo'
} %}

{% block body %}
    <a href="{{ data.url }}" class="{{ config.name }}__link">
        <span class="grid grid--middle">
            {% if attributes.src is empty %}
                <img src="/assets/ShopUI/logo.png" alt="">
            {% else %}
                <img {{block('attributes')}}>
            {% endif %}
        </span>
    </a>
{% endblock %}
